---
layout: 'article-base.njk'
---


        <div class="article-container">
            <div class="article-title">
                <h1>{{ title }}</h1>
                <h4>{{ description }}</h4>
            </div>

            <figure class="img-container">
                <img src="{{ image }}" alt="{{ imageAlt }}"
                    srcset="">
                <figcaption>
                    {{ imageAlt }}
                </figcaption>
            </figure>
            <section class="article-body">
           {{ content | safe }}
           </section>

        </div>
