
<li class="blog">
    <div class="img-container">
        <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" srcset="">
    </div>
    <section class="card-container">
        <div class="card">
            <div class="card-details">

                <h2 class="card-title">
                    <a href="{{ post.url }}">{{ post.data.title }}</a>
                </h2>
                <p class = "meta"> by <span>{{ post.data.author }}</span> on <span>{{ post.data.date | postDate }}</span>
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dolor voluptatibus placeat.
                            Totam
                            inventore, dolore earum ex ipsa iste nam sunt vel numquam labore aliquam odio laboriosam
                            minus
                            fugit
                            suscipit!
                            Soluta porro minima ratione ad illum neque! Magnam, consectetur ex. Iste dolorum rem
                            dignissimos
                            aspernatur tempora delectus enim, dolorem voluptatem ratione magnam soluta molestiae
                            eligendi
                            molestias facilis? Consectetur, sequi debitis?</p>
                <span>
                    <a class="read-more" href="{{ post.url }}">Read more</a>
                </span>
            </div>
        </div>
    </section>
</li>