 <li class="blog">
            <div class="card-container">
                <div class="card">
                    <div class="img-container">
                    <a href="{{ post.url }}">
                    <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" srcset="">
                    </a>
                    </div>
                    <div class="card-details">
                        <p class = "meta"> by <span>{{ post.data.author }}</span> on <span>{{ post.data.date | postDate }}</span>
                </p>
                        <h2 class="card-title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
                        <p>{{post.data.description}}</p>
                        <span><a href="{{ post.url }}">Read more</a></span>
                    </div>
                </div>
            </div>
        </li>
