/* 
------
TABLE OF CONTENTS: 
    - ROOT
    - MAIN
    - TYPOGRAPHY
    - BODY : 
        - .article-container
        - .article-title
        - .img-container
        - .article-body & ul/ol styles
        - .edit
    - FIGCAPTION & IMG
    - PRE & CODE

- MEDIA QUERIES:
    - 334px
    - 360px
    - 400px
    - 438px
    - 500px
    - 580px
    - 600px
    - 660px
    - 709px
    - 740px
    - 750px
    - 800px
    - 850px
    - 900px
    - 1200px
------
*/

/* --- ROOT --- */

:root {
    font-size: 10px;
    box-sizing: border-box;
    --background-colour: #eaeff1;
    /* --accent-colour: #DC5844; */
    --card-colour: #f3f7f9;
    --accent-colour: rgb(224, 71, 46);
    --text-colour: #2c2a2a;
    --light-text-colour: #cccdcd;
    scroll-behavior: smooth;
}

/* --- MAIN --- */

main {
    align-items: center;
}

/* --- TYPOGRAPHY --- */

h1, .article-title h4{
    justify-self: center;
    line-height: 1.5;
    align-self: center;
    padding-top: 0;
}

h1{
    font-weight: 600;
    line-height: 1.25;
    max-width: 70ch;
    text-align: left;
    color: black;
}

h4 {
    font-weight: 500;
}

.article-title h4 {
    font-weight: 300;
}

.article-body h4 {
    padding: 1.5rem 0 0;
    width: 100%;
}

p {
    padding: 1.5rem 0;
    margin-bottom: 0;
    max-width: 100%;
}

p, figcaption, .article-body li, .article-body a, .article-body span, .edit {
    font-size: 1.4rem;
    max-width: 50ch;
    line-height: 1.75;
}

.article-body span {
    color: #cccdcd;
}

p, .article-body a, .article-body span, .edit {
    font-weight: 400;
    word-spacing: 1.5px;
} 

.article-body a {
    color: var(--accent-colour);
}

.article-body ul li, .article-body ol li {
    font-weight: 600;
    padding: 1rem 0;
    color: var(--text-colour);
}

footer p, footer a, footer span {
    font-family: 'Poppins', sans-serif;
}

/* --- BODY --- */

body {
    background-color: var(--background-colour); 
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

ul {
    list-style: outside;
}

ol {
    list-style: decimal;
}

/* --- .article-container --- */

.article-container {
    padding: 3em 2em 0;
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: 0 auto;
}

/* --- .article-title --- */

.article-title{
    display: flex;
    flex-direction: column;
    padding: 2em 5em;
    align-self: center;
    align-items: center;
    row-gap: 1em;
    justify-content: center;
    padding: 1rem 1.5rem 4em;
    max-width: 650px;
}

/* --- .article-body & ul/ol styles --- */

.article-body {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.article-body ul, .article-body ol {
    align-self: flex-start;
}

.article-body ul, .article-body ol {
    padding: 0 1em;
}

li::marker {
    color: var(--accent-colour);
}

/* --- .edit --- */

.edit {
    background-color: var(--accent-colour);
    color: var(--card-colour);
    align-self: center;
    padding: 2rem;
    margin: 1.5rem 0;
}

/* --- FIGCAPTION & IMG --- */

figcaption{
    padding: 0;
}

.img-container {
    align-self: center;
}

img{
    max-width: 100%;
    object-fit: contain;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* --- PRE & CODE --- */

pre {
    justify-content: flex-start;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
    overflow-x: scroll;
    background: rgb(99, 95, 95);
    color: #eaeff1;
    font-size: 1.2rem;
    padding: 1em;
    align-self: center;
    min-width: 42ch;
    max-width: 42ch;
}

code {
    background-color: var(--light-text-colour);
    padding: .2rem .5rem;
    border-radius: .4rem;
}

pre > code {
    background: none;
    padding: 0;
    border-radius: 0;
    width: 100%;
}

/* --- 334px --- */

@media (min-width: 334px) {
    footer p {
        margin: 0;
    }

    pre {
        min-width: 43ch;
        max-width: 43ch; 
    }
}

/* --- 350px --- */

@media (min-width: 350px) {


    pre {
        min-width: 45ch;
        max-width: 45ch;
    }
}


/* --- 360px --- */

@media (min-width: 360px) {

    h1 {
        font-size: 2.8rem;
        text-align: center;
    }
    
    .article-title h4 {
        max-width: 26ch;
    }

    img {
        max-width: 250px;
    }

    pre {
        min-width: 46ch;
        max-width: 46ch;
    }
}

/* --- 400px --- */

@media (min-width: 400px) {

    h1 {
        max-width: 45ch;
        font-size: 3rem;
    }

    p, figcaption, .article-body li, .article-body a, .article-body span, .edit {
        max-width: 55ch;
    }

    .article-title h4 {
        max-width: 28ch;
    }

    img {
        max-width: 320px;
    }

    pre {
        min-width: 52ch;
        max-width: 52ch;
    }

}

/* --- 438px --- */

@media (min-width: 438px) {

    h1 {
    text-align: center;
    font-size: 3.5rem;
    }

    .article-title h4 {
        max-width: 33ch;
    }

    pre {
        min-width: 60ch;
        max-width: 60ch;
    }

}

/* --- 500px --- */

@media (min-width: 500px) {

    .article-container {
        padding: 3rem;
    }

    .article-title {
        padding: 1rem 2rem 4rem;
    }

    h1{
        font-size: 4rem;
    }

    .article-title h4 {
        max-width: 37ch;
    }
 
    footer p, footer a, footer span {
        font-size: 1.6rem;
    }    

    .article-body h4 {
        font-size: 2rem;
    }
    
    img{
        max-width: 350px;
    }

    .article-body img {
        align-self: center;
        padding: 1.5rem 0;
        margin: 1.5rem 0;
    } 

    pre {
        min-width: 64ch;
        max-width: 64ch;
    }

}

/* --- 540px --- */

@media (min-width: 540px){
    p, figcaption, .article-body li, .article-body a, .article-body span, .edit {
        max-width: 70ch;
    }

    pre {
        min-width: 70ch;
        max-width: 70ch;
    }
}

/* --- 580px --- */

@media (min-width: 580px) {

    .article-title {
        padding: 1rem 2.5rem 4rem;
    }
}

/* --- 600px --- */

@media (min-width: 600px) {

    .article-container {
        padding: 3rem 4rem;
    }

    .article-title {
        padding: 1rem 3.5rem 4rem;
    }

    img{
        max-width: 400px;
    }

    pre {
        align-self: center;
        min-width: 100%;
    }

    pre code {
        font-size: 1.6rem;
    }
}

/* --- 660px --- */

@media (min-width: 660px) {

    .article-container {
        padding: 3rem 5rem;
    } 

    .article-title {
        padding: 1rem 5rem 4rem;
    }
    
    .article-body li {
        max-width: 70ch;
    }

}

/* --- 709px --- */

@media (min-width: 709px) {

    .article-container {
        padding: 3rem 7rem;
    }

    .article-title {
        padding: 1rem 6rem 4rem;
    }

    img{
        max-width: 450px;
    }

}

/* --- 740px --- */

@media  (min-width: 740px) {

    .article-title {
        padding: 1rem 7rem 4rem;
    }

}

/* --- 750px --- */

@media  (min-width: 750px) {

    h1 {
        font-size: 4.5rem;
    }
    
}

/* --- 800px --- */

@media (min-width: 800px) {

    .article-container {
        padding: 3em 5em;
    }

    .article-title {
        padding: 1rem 9rem 4rem;
    }

    h1 {
        font-size: 4.5rem;
    }
   
    .article-title h4 {
        max-width: 38ch;
        padding: 0;
    }

    .article-title h4, .article-body a, p, .article-body li, pre, .edit {
        font-size: 1.8rem;
    }

    .article-body h4 {
        font-size: 2rem;
    }

}

/* --- 850px --- */

@media (min-width: 850px) {

    .article-title {
        padding: 1rem 9rem 4rem;
    }

    figcaption, .article-container li {
        font-size: 1.8rem;
        line-height: 1.75;
    }

}

/* --- 900px --- */

@media (min-width: 900px) {

    h1{
        font-size: 50px;
    }

    .article-title h4{
        font-size: 1.6rem;
        max-width: 47ch;
    }

}

/* --- 1200px --- */

@media (min-width: 1200px) {

    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        position: relative;
        left: 0;
        width: 100%;
    }

    .article-container {
        padding: 3rem 2rem;
        max-width: 1000px;
        grid-column: 2 / 3;
    } 

    .article-title{
        padding: 1rem 2rem 4rem;
        max-width: 650px;
    }

    h1 {
        padding: 0;
    }

    .article-title h4{
        font-size: 1.8rem;
        padding-left: 3rem;
    }

    .article-body {
        padding: 0;
    }

    .article-body h4, a > strong {
        font-size: 2.4rem;
    }

    .article-body li {
        font-size: 1.8rem;
    }

    .img-container {
        padding: 3em 0;
        max-width: 800px;
    }

    img{
        max-width: 550px;
        object-fit: contain;
        height: auto;
        align-self: center;
    }

}