:root{
    font-size: 10px;
}

nav {
    display: grid;
    grid-template-columns: 3;
    align-items: center;
    padding: 3em 0;
}

.nav-links {
    width: 100%;
    grid-column: 3 / 3;
}

.nav-links>ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-link {
    margin: 0 1rem;
    letter-spacing: 1px;
    font-size: 1.6rem;
}

a {
    color: #062331;
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    min-height: 10rem;
    background-color: #e3e9eb;
    margin-bottom: 0;
    padding: 1em;
}

footer>p {
    font-size: 1.4rem;
    margin: 0 1.5em;
}


@media only screen and (min-width: 850px) {
    .nav-link {
        font-size: 1.8rem;
    }
}