
/* 
------
TABLE OF CONTENTS: 

- CSS RESET
- STYLES FOR INDEX.HTML
    - :root
    - body
    - nav and nav links
    - main
    - hero section
    - featured articles section
    - card styles
    - footer

- MEDIA QUERIES
------

*/


/* --- ROOT --- */

:root {
    font-size: 10px;
    box-sizing: border-box;
    --background-colour: #eaeff1;
    /* --accent-colour: #DC5844; */
    --card-colour: #f3f7f9;
    --accent-colour: rgb(224, 71, 46);
    --text-colour: #2c2a2a;
    --light-text-colour: #cccdcd;
    scroll-behavior: smooth;
}

/* --- BODY --- */

body {
    background-color: var(--background-colour); 
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

ul {
    list-style: outside;
}

ol {
    list-style: decimal;
}

h4 {
    font-weight: 500;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    position: relative;
    left: 0;
    width: 100%;
}

.article-title{
    display: flex;
    flex-direction: column;
    padding: 2em 5em;
    align-self: center;
    align-items: center;
    row-gap: 1em;
}

h1, .article-title h4{
    justify-self: center;
    line-height: 1.5;
    align-self: center;
    padding-top: 0;
}

.article-title h4 {
    font-size: 1.6rem;
}

.article-body h4 {
    padding: 1.5rem 0 0;
}

h1{
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.25;
    max-width: 70ch;
    text-align: left;
    color: black;
}

.article-container {
    padding: 3rem 2.5rem;
    position: relative;
    grid-column: 2 / 3;
    align-items: center;
    align-content: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

p, figcaption, .article-body ul, .article-body ol, .article-body a, .article-body span, pre, .edit {
    font-size: 1.6rem;
    max-width: 70ch;
    line-height: 1.75;
}

p, .article-body a, .article-body span, .edit {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    word-spacing: 1.5px;
} 

footer p {
    font-family: 'Poppins', sans-serif;
}

.article-body ul, .article-body ol {
    align-self: flex-start;
}

.article-body {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.article-body a {
    color: var(--accent-colour);
}

.article-body ul, .article-body ol {
    padding: 0 1em;
}

.article-body ul li, .article-body ol li {
    font-weight: 600;
    padding: 1rem 0;
    color: var(--text-colour);
}

li::marker {
    color: var(--accent-colour);
}

figcaption{
    padding: 0;
}

.img-container {
    align-self: center;
}

img{
    max-width: 100%;
    object-fit: contain;
    height: auto;
    align-self: center;
}

.article-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1.5rem 4em;
    max-width: 650px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-body h4 {
    font-size: 1.8rem;
    width: 100%;
  }

p {
    padding: 1.5rem 0;
    margin-bottom: 0;
}

/* h4 + p, ul + p, ol + p {
    padding: 1rem 0 0;
}
 */
pre {
    white-space: pre-wrap;
    align-self: center;
    justify-content: flex-start;
    margin: 2.5rem 0;
    line-height: 1.5;
    overflow: auto;
    overflow-y: hidden;
    background: var(--card-colour);
    padding: 1.5rem 2rem;
    border-left: var(--accent-colour) 7px solid;
    border-radius: 1rem;
 /*    box-shadow: rgb(44, 42, 42, .5) 0px 0px 5px; */
}

.edit {
    background-color: var(--accent-colour);
    color: var(--card-colour);
    padding: 1.5rem 1rem;
    margin: 1.5rem 0;
}

code {
    background-color: var(--light-text-colour);
    padding: .2rem .5rem;
    border-radius: .4rem;
}

pre > code {
    background: none;
    padding: 0;
    border-radius: 0;
    width: 100%;
}


@media only screen and (min-width: 360px) {

    h1 {
        font-size: 2.8rem;
        text-align: center;
    }
    
    .article-title h4 {
        max-width: 26ch;
    }
}

@media only screen and (min-width: 400px) {

    h1 {
        max-width: 45ch;
        font-size: 3rem;
    }

    .article-title h4 {
        max-width: 28ch;
    }

}

@media only screen and (min-width: 438px) {

    h1 {
    text-align: center;
    font-size: 3.5rem;
    }

    .article-title h4 {
        max-width: 33ch;
    }

}



@media only screen and (min-width: 500px) {

    .article-container {
        padding: 3rem;
    }

    .article-title {
        padding: 1rem 2rem 4rem;
    }

    h1{
        font-size: 4rem;
    }
 
    .article-title h4, h4, .article-body a, p, .article-body li, pre, .edit {
        font-size: 1.6rem;
    }

    .article-title h4 {
        max-width: 37ch;
    }

    .article-body h4 {
        font-size: 2rem;
    }
    
    .article-body img {
        align-self: center;
        padding: 1.5rem 0;
        margin: 1.5rem 0;
    } 

    img{
        max-width: 350px;
    }

}


@media only screen and (min-width: 580px) {

    
    .article-title {
        padding: 1rem 2.5rem 4rem;
    }

}


@media only screen and (min-width: 600px) {

    .article-container {
        padding: 3rem 4rem;
    }

    .article-title {
        padding: 1rem 3.5rem 4rem;
    }

    img{
        max-width: 400px;
    }
}

@media only screen and (min-width: 660px) {


    .article-title {
        padding: 1rem 5rem 4rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    .article-container {
        padding: 3rem 5rem;
    } 

    .article-body h4 {
        font-size: 2rem;
    }
    
    p, .article-body li {
        max-width: 70ch;
    }

}

@media only screen and (min-width: 709px) {

    .article-container {
        padding: 3rem 7rem;
    }

    .article-title {
        padding: 1rem 6rem 4rem;
    }

    img{
        max-width: 450px;
    }

}

@media only screen and (min-width: 740px) {

    
    .article-title {
        padding: 1rem 7rem 4rem;
    }

}

@media only screen and (min-width: 750px) {

    h1 {
        font-size: 4.5rem;
    }
    
}

@media only screen and (min-width: 800px) {

    .article-container {
        padding: 3rem 8rem;
    }

    h1 {
        font-size: 4.5rem;
    }

    .article-title {
        padding: 1rem 9rem 4rem;
    }
   
    .article-title h4 {
        max-width: 38ch;
        padding: 0;
    }

    .article-title h4, .article-body a, p, .article-body li, pre, .edit {
        font-size: 1.8rem;
    }

    .article-body h4 {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 850px) {

    .article-title {
        padding: 1rem 9rem 4rem;
    }

    figcaption, .article-container li {
        font-size: 1.8rem;
        line-height: 1.75;
    }

}


@media only screen and (min-width: 900px) {

    h1{
        font-size: 50px;
    }

    .article-title h4{
        font-size: 1.6rem;
        max-width: 47ch;
    }

}


@media only screen and (min-width: 1200px) {


    main {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        position: relative;
        left: 0;
        width: 100%;
    }

    .article-title{
        padding: 1rem 2rem 4rem;
        max-width: 650px;
    }

    h1 {
        padding: 0;
    }

    .article-title h4{
        font-size: 1.8rem;
        padding-left: 3rem;
    }

    .article-container {
        padding: 3rem 2rem;
    } 

    .article-body {
        padding: 0;
    }

    .article-body h4, a > strong {
        font-size: 2.4rem;
    }

    .article-body li {
        font-size: 1.8rem;
    }

    .img-container {
        padding: 3em 0;
        max-width: 800px;
    }

    img{
        max-width: 550px;
        object-fit: contain;
        height: auto;
        align-self: center;
    }

}