
/* 
------
TABLE OF CONTENTS: 

- CSS RESET
- root & body
- nav (same as index.css)
- main
- page header & title
- all articles container
- individual blog posts
- footer
*/


/* --- ROOT --- */

:root {
    box-sizing: border-box;
    --background-colour: #eaeff1;
    --card-colour: #f3f7f9;
    --accent-colour: #DC5844;
    --container-colour: #e3e9eb;
}

/* --- BODY --- */

body {
    background-color: var(--background-colour);
    overflow-x: hidden;
}


main {
    justify-items: center;
}


/* --- PAGE HEADER --- */

.page-header {
    grid-column: 1 / 4;
    padding: 1.5em 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}


h2 {
    font-size: 1.8rem;
    font-weight: normal;
}

/* --- ALL CARDS --- */

.all-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    padding: 3em 2em;
}

/* --- INDIVIDUAL BLOG POSTS --- */

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 2rem;
}

.blog {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    border-left: 8px solid var(--accent-colour);
    border-radius: 2rem;
    margin: 2rem 0;
    background-color: var(--card-colour);
    transition: box-shadow .2s ease;
}

.blog:hover{
    box-shadow: rgba(0, 0, 0, 0.30) 1.95px 1.95px 10px;
}

.card-details {
    /* Add space around the details */
    padding: 2rem 0;
}


.img-container {
    width: 100%;
    text-align: center;
}

img {
    object-fit: cover;
    height: 150px;
    width: 100%;
    border-radius: .9em;
}


@media only screen and (min-width: 400px) {

    h1{
        margin-bottom: .2em;
    }

    .blog{
        width: 94%;
        width: -moz-available;
        width: -webkit-fill-available;
        width: stretch;
    }

    .all-cards {
        padding: 3em 3em;
    }
}

@media only screen and (min-width: 500px) {
    img {
        height: 200px;
    }
}

@media only screen and (min-width: 550px) {

    .all-cards {
        padding: 4em 4em;
    }
}

@media only screen and (min-width: 600px) {

    .all-cards {
        padding: 3rem 4rem;
    }

    .blog {
        padding: 2.25rem 2.25rem;
    }

    img{
        height: 250px;
    }
}

@media only screen and (min-width: 610px) {
   
    .all-cards{
        width: 80vw;
    }

    p{
        max-width: 70ch;
    }
}

@media only screen and (min-width: 660px) {


    .page-header > h2 {
        font-size: 2.4rem;
    }

    .blog{
        border-left: 10px solid var(--accent-colour);
        border-radius: 2.5rem;
    }
}

@media only screen and (min-width: 670px) {

    img{
        max-height: 200px;
    }
}

@media only screen and (min-width: 850px) {

    .card-container{
        padding: 0;
    }

    .all-cards {
        padding: 5em 5em;
        width: 75vw;
    }

    .card-details {
        padding: 3rem 0;
    }
}

@media only screen and (min-width: 875px) {

    img{
        max-height: 240px;
    }
}


@media only screen and (min-width: 1000px) {

    .page-header {
        margin: 3em 0 0;
        padding: 2em 1em;
    }

    .page-header>h2 {
        padding: 0;
        font-weight: 500;
    }

    .all-cards {
        grid-column: 1 / 4;
        grid-template-columns: 2fr 1fr 2fr;
        width: 100%;
        align-items: center;
        padding: 5rem;
        background-color: var(--container-colour);
    }

    .blog{
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        padding: 1em 4em;
        justify-items: center;
        align-items: center;
        width: 80%;
        max-width: 1100px;
        border-radius: 3rem;
        border-left: 10px solid var(--accent-colour);
        height: 375px;
    }

    .card-container {
        justify-self: center;
        align-self: center;
        grid-column: 1 / 3;
        padding: 0 6rem 0 0;
        margin: 0;
    }

    .img-container {
        grid-column: 3/4;
        max-width: 400px;
        width: 100%;
    }

    .img-container:first-of-type {
        grid-row: 1;
    }

    .card-container:last-of-type {
        grid-row: -1;
    }

    img {
        width: 100%;
        height: 300px;
        max-height: 300px;
        border-radius: .5em;
    }

    .card {
       padding: 0;
    }

    .card-details {
        padding: 0;
    }


    p {
        max-width: 55ch;
    }

}

/* 
@media only screen and (min-width: 1160px) {

    .img-container {
        max-width: 400px;
    }

    img {
        max-height: 400px;
    }
} */