---
title: Blog
layout: 'blog-base.njk'
---
    
        <section class="page-header">
            <h1>All Articles</h1>
            <h2>A list of all my articles</h2>
        </section>

        <div class="all-cards">
            <div class="img-container">
                <img src="https://images.unsplash.com/photo-1536323760109-ca8c07450053" alt="" srcset="">
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="card-details">

                        <h2 class="card-title">Building my Blog: Eleventy and Netlify</h2>
                        <span class="tag">Eleventy</span>
                        <span class="tag">Netlify</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dolor voluptatibus placeat.
                            Totam
                            inventore, dolore earum ex ipsa iste nam sunt vel numquam labore aliquam odio laboriosam
                            minus
                            fugit
                            suscipit!
                            Soluta porro minima ratione ad illum neque! Magnam, consectetur ex. Iste dolorum rem
                            dignissimos
                            aspernatur tempora delectus enim, dolorem voluptatem ratione magnam soluta molestiae
                            eligendi
                            molestias facilis? Consectetur, sequi debitis?</p>
                        <span><a class="read-more" href="">Read more</a></span>
                    </div>
                </div>
            </div>

            <div class="img-container">
                <img src="https://images.unsplash.com/photo-1536323760109-ca8c07450053" alt="" srcset="">
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="card-details">


                        <h2 class="card-title">Building my Blog: Eleventy and Netlify</h2>
                        <span class="tag">Eleventy</span>
                        <span class="tag">Netlify</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dolor voluptatibus placeat.
                            Totam
                            inventore, dolore earum ex ipsa iste nam sunt vel numquam labore aliquam odio laboriosam
                            minus
                            fugit
                            suscipit!
                            Soluta porro minima ratione ad illum neque! Magnam, consectetur ex. Iste dolorum rem
                            dignissimos
                            aspernatur tempora delectus enim, dolorem voluptatem ratione magnam soluta molestiae
                            eligendi
                            molestias facilis? Consectetur, sequi debitis?</p>
                        <span><a class="read-more" href="">Read more</a></span>
                    </div>
                </div>
            </div>

            <div class="img-container">
                <img src="https://images.unsplash.com/photo-1536323760109-ca8c07450053" alt="" srcset="">
            </div>
            <div class="card-container">
                <div class="card">

                    <div class="card-details">

                        <h2 class="card-title">Building my Blog: Eleventy and Netlify</h2>
                        <span class="tag">Eleventy</span>
                        <span class="tag">Netlify</span>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dolor voluptatibus placeat.
                            Totam
                            inventore, dolore earum ex ipsa iste nam sunt vel numquam labore aliquam odio laboriosam
                            minus
                            fugit
                            suscipit!
                            Soluta porro minima ratione ad illum neque! Magnam, consectetur ex. Iste dolorum rem
                            dignissimos
                            aspernatur tempora delectus enim, dolorem voluptatem ratione magnam soluta molestiae
                            eligendi
                            molestias facilis? Consectetur, sequi debitis?</p>
                        <span><a class="read-more" href="">Read more</a></span>
                    </div>
                </div>

            </div>

        </div>

