---
title: Blog
layout: 'blog-base.njk'
---

<section class="page-header">
    <h1>All Articles</h1>
    <h2>A list of all my articles</h2>
</section>

<ul class="all-cards">
   {%- for post in collections.post | reverse -%}
       {% include "blog-snippet.njk" %}
   {%- endfor %}
</ul>
