---
title: Hasnain Shafiq
layout: "index-base.njk"
---

<section class="hero">
    <img class="hero-img-lg" src="https://images.unsplash.com/photo-1536323760109-ca8c07450053" alt="" srcset="">
    <div class="hero-text-container">
        <h1 class="hero-h1">Welcome to my Blog!</h1>
        <p>This is where I will update visitors on my latest projects and ideas. I will be writing blogs about my
                progress with projects I'm working on, as well as documenting my experiences working with new
                technologies. </p>

        <p> Below are some of my favourite articles. If you wish, feel free to take a look around and have a read of
                some of my other articles by clicking on the 'blog' link.
            </p>
        <div class="hero-buttons">
            <button><a href="#featured-articles-container">Featured Articles</a></button>
            <button><a href="/blog">All Articles</a></button>
        </div>
    </div>
</section>

<section class="featured-articles-container" id="featured-articles-container">
    <div class="featured-articles-headings">
        <h1>Featured Articles</h1>
        <h4>This is a list of some of my favourite articles.</h4>
    </div>

    <ul class="all-cards">
       {%- for post in collections.featured -%}
           {% include "featured-blogs-snippet.njk" %}
       {%- endfor %}
    </ul>
</section>